body {
    font-family: sans-serif;
}

header {
    padding: 26px;
    border: 2px solid blueviolet;
    border-radius: 20px;
    background-color: rgb(199, 167, 227);
}

h1 {
    padding: 26px;
    border: 2px solid rgb(56, 210, 212);
    border-radius: 20px;
    background-color: rgb(95, 251, 246);
    color: rgb(11, 124, 190)
}
.as {
     padding: 26px;
    border: 2px solid rgb(56, 210, 212);
    border-radius: 20px;
    background-color: rgb(95, 251, 246);
    color: rgb(11, 124, 190)
}
